.c-card{
    margin-top: 15px;
    width: 60%;
    margin-left: 300px;
}
.heading{
    text-align: center;
    font-weight: 500;
}
.example-form{
    margin-top: 30px;
    margin-left: 50px;
}
.example-full-width{
    width: 400px;
}